body,html{
    padding: 0px;
    margin: 0px;
    background-image:url('../images/back.jpg');
}
.header {
    widows: 1335px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;

    background-color: rgb(123, 169, 202);
}

.header-nav {
    min-width: 1170px;
  
    height: 50px;
    line-height: 50px;
}

.header-nav-left {
    float: left;
    padding-left: 150px;
       margin-top: 10px;
}

.header-nav-left h3 {
    font-size: 18px;
    line-height: 25px;
    margin: 0px;
    color: #fff;
}

.header-nav-right {
    float: right;
    width: 59.9999%;
    position: relative;
    height: 50px;
}

.header-nav-right ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
    right: 25px;
}

.header-nav-right ul li {
    float: left;
    margin-left: 5px;
    color: #fff;
}

.header-nav-right ul li a {
    color: #fff;
    text-decoration: none;
    
 }
 .user{
     min-width:980px;
     text-align: center;
     margin: 0px;
     padding: 0px;
     position: relative;
 }
 .user-list{
     width:470px;
     height: 250px;
     padding: 15px;
     margin: 90px auto;
     position: relative;
     background-color: white;
     border: 1px solid #DBDBDB;
 }
 .user-list ul{
     list-style: none;
     width: 100%;
     overflow: hidden;
     height: 250px;
     position: relative;
     padding: 10px 0px;
     margin: 0px;
 }
 .user-list ul li{
     width: 100%;
     list-style: none;
     margin-bottom:15px;
 }
  .user-list ul li i{
      color: red;
  }
 .user-list ul li label{
     display: inline-block;
     width:12%;
     text-align: right;
     font-size:16px;
     margin-right: 10px;
     font-family: "微软雅黑";
     
 }
 .user-list ul li input{
     display: inline-block;
     border: 1px solid #DBDBDB;
     border-radius:4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius:4px;
     height: 30px;
     padding: 2px 5px;
     vertical-align:middle; 
 }
 .buttons{
     width: 100%;
     height:35px;
     padding: 5px 10px;
     position: absolute;
     bottom: 90px;
     left: 0px;
     right: 0px;
 }
 .openbutton,.onbutton{
     display: inline-block;
     width: 40%;
 }
.buttons button{
    width: 90%;
    color: #fff;
    padding: 5px 10px;
    background-color: #4CB0F9;
    border: 1px solid #4CB0F9;
    border-radius: 4px;
    vertical-align: middle;
    height: 35px;
    line-height: 25px;
    cursor:pointer;
}

.business {
    min-width:980px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.business-div{
    widows: 1335px;
    min-height: 600px;
    padding: 15px;
    margin: 0px auto;
    position: relative;
    background-color: white;
    border: 1px solid rgb(142, 203, 207);
}


.business-list{
    width:1320px;
    min-height: 400px;
    padding: 10px;
    margin: 0px auto;
    position: relative;
    background-color: rgb(234, 241, 241);
    
  
}


.table{
    margin-top: 40px;
    border:3px  white;
    position: relative;
    left:50%;
    top:0;
    transform: translate(-50%,0);
    background: rgba(255,255,255,0.5);
    border-radius: 15px;
    padding:10px 20px 10px 15px;
    margin-bottom: 20px;
}

.choice-list{
    width:1320px;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(234, 241, 241);
    padding: 15px;
    margin: 20px auto;
    position: relative;
}

.choice-list a{
    font: "宋体" 12px/20px;
    float: left;
    padding: 25px;
    padding-top: 15px;
}
.cardBox {
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    float: left;
    margin-right: 10px;
    padding: 5px;
    padding-top: 15px;
}

.headerBox {
    color: #fff;
    padding: 10px;
    font-size: 15px;
    height: 60px;
}

.bodyBox {
    padding: 10px;
}

.bodyBox p {
    margin-left: 5px;
}

#pageBox a {
    width: 17px;
    height: 20px;
    text-align: center;
    color: rgb(123, 169, 202);
    line-height: 20px;
    border: 1px solid #e0e1e2;
    text-decoration: none;
    display: inline-block;
    font: "宋体" 12px/20px;
}


#pageBox .pageBtn{
    width: 64px;
}
#pageBox a:hover,.select{
    background: #516db9;
    color: #fff;
}

/* div for infocenter */
/* 
.slide-div {
    min-width: 195px;
    min-height: 570px;
    padding: 15px;
    float: left;
    margin: 2px;
    position: relative;
    background-color: white;
    border: 1px solid rgb(142, 203, 207);
} */

.business-list-info{
    width:1030px;
    min-height: 400px;
    padding: 10px;
    margin: 0px auto;
    position: relative;
    background-color: rgb(234, 241, 241);
}

.choice-list-info{
    width:1020px;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(234, 241, 241);
    padding: 15px;
    margin: 20px auto;
    position: relative;
}

.business-all{
    width:1050px;
    min-height: 580px;
    padding: 15px;
    float: right;
    margin: 1px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border: 1px solid rgb(142, 203, 207);
}

.slide-list {
    min-width: 195px;
    min-height: 580px;
    padding: 15px;
    float: left;
    margin: 1px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border: 1px solid rgb(142, 203, 207);
}


.user-control-list {
    min-width: 180px;
    height:530px;
    background-color: rgb(234, 241, 241);
    padding-top: 25px;
    margin: 1px;
    margin-top: 15px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-control-list ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: relative;
}
.user-control-list ul li{
    margin-left: 5px;
    color: rgb(29, 2, 2);
}

.user-control-listul li a {
    color: black;
    text-decoration: none;
 }